.listProductWrapper {
  margin-right: 32px;
  margin-left: 32px;
  .titleAndButtonProduct {
    display: flex;
    justify-content: space-between;
  }

  .tableProductWrapper {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #fff;
    box-shadow: 0.5px 0.5px 12px rgba(0, 0, 0, 0.25);
  }
}
