.userProfile {

    font-family: 'Work Sans';
    font-style: normal;
    box-shadow: 0.5px 0.5px 12px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    // flex-direction: column-reverse;

    background-color: #FFFFFF;

}