.orderDetailCardsWrapper {
  display: flex;
  justify-content: space-around;
  padding: 20px 25px;

  .cardItemWrapper {
    display: flex;
    gap: 15px;
    .cardImgWrapper {
      width: 80px;
      height: 80px;
      background-color: #3d464d;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .cardContent {
      .cardTitle {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: -0.02em;
        color: #000000;
        margin-top: 0px;
        margin-bottom: 10px;
      }

      p {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.02em;
        color: #3d464d;
        margin-bottom: 7px;
      }
    }
  }
}
