.Home__GroupCate {
  display: flex;
  flex-direction: row;
  width: 100%;
  //   justify-content: space-between;
}

.Home__GroupCate-carousel {
  width: 80%;
}

.user-container {
  padding-top: 270px;
  @media (max-width: 1200px) {
    padding-top: 222px;
  }
}