.benefitWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .benefitItem {
    display: flex;
    padding-top: 15px;
    padding-bottom: 20px;
    background: #f8f8f8;
    border: 1px solid #dfd8d8;
    border-radius: 5px;
    padding-left: 28px;
    padding-right: 35px;
    justify-content: space-between;
    gap: 15px;

    .benefitContent {
      h2 {
        margin: 0;
        font-family: 'Arial';
        font-weight: 700;
        font-size: 22px;
        color: #000000;
        margin-bottom: 10px;
      }

      p {
        margin: 0;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #000000;
      }
    }
  }
}
