.descriptionWrapper {
  margin-top: 25px;
  margin-right: 50px;
  margin-right: 50px;

  .title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
    margin-bottom: 35px;
  }
}
