.labelAdminInputField {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 11px;
}

.adminInputField {
  input {
    background: #ffffff;
    border: 1px solid #929395;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 18px;

    height: 40px;
  }
}
