.buttonChooseFile {
  width: 124px;
  height: 40px;
  left: 1000px;
  top: 417px;
  background: #c4cdd5;
  border-radius: 2px;

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #000000;

  border: none;
}
