.labelSelectField {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 11px;
}

.selectField {
  div {
    height: 112px;

    background: #ffffff;
    border: 1px solid #929395;
    box-sizing: border-box;
    border-radius: 2px;
  }
}

@media (max-width: 1200px) {
  .labelSelectField {
    font-size: 16px;
  }

  .MuiMenuItem-root {
    font-size: 14px !important;
  }
}
